{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1><span class="prefix">Hi, I'm </span>{{ site.title }}</h1>
            <p class="lead">I'm an {{ site.description }}</p>

            <button class="mobile-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

            {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}

            {% for node in site.pages %}
            {% if node.title != null and node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{
                node.title }}</a>
            {% endif %}
            {% endfor %}

            <a class="sidebar-nav-item" href="https://github.com/reiniervdwindt" target="_blank">Github</a>
            <a class="sidebar-nav-item" href="https://nl.linkedin.com/in/reiniervdwindt" target="_blank">LinkedIn</a>
            <a class="sidebar-nav-item" href="https://twitter.com/reiniervdwindt" target="_blank">Twitter</a>
        </nav>

        <!--<small>-->
            <!--&copy;-->
            <!--<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>-->
            <!-- - All rights reserved.-->
        <!--</small>-->
    </div>
</aside>
