.sidebar-sticky {

    .mobile-toggle {
        position: absolute;
        top: 15px;
        right: 0;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;

        .icon-bar {
            background-color: #fff;
            display: block;
            width: 22px;
            height: 2px;
            margin-bottom: 4px;
            border-radius: 1px;
            box-sizing: border-box;
        }

        @media (max-width: 38em) {
            top: 10px;
        }

        @media (min-width: 49em) {
            display: none;
        }

        @media (min-width: 768px) {
            top: 25px;
        }
    }

    @media (max-width: 49em) {
        .lead {
            display: none;
        }

        .prefix {
            display: none;
        }
    }

    .sidebar-nav {
        display: none;

        @media (min-width: 49em) {
            display: block;
        }

        &.open {
            display: block;
        }
    }
}
