<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="theme-base-0d">

{% include sidebar.html %}

<div class="container content">
    <main>
        {{ content }}
    </main>
</div>

<script type="text/javascript">
    jQuery('.mobile-toggle').on('click', function(e) {
        e.preventDefault();
        $('.sidebar-nav').toggleClass('open');
        $('.sidebar-about').find('.lead').toggle();
    });
    jQuery('span.s2').each(function(key, value) {
        var result = value.innerHTML.match(/(http|ftp|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])?/);
        if (result) {
            jQuery(this).html('"<a href="' + result[0] + '" target="_blank">' + result[0] + '</a>"');
        }
    });
</script>

</body>
</html>
